@font-face {
  font-family:'OS-400';
  src: url('font/OS-400.eot');
  src: url('font/OS-400.woff') format('woff'),
    url('font/OS-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'OS-600';
  src: url('font/OS-600.eot');
  src: url('font/OS-600.woff') format('woff'),
    url('font/OS-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'OS-700';
  src: url('font/OS-700.eot');
  src: url('font/OS-700.woff') format('woff'),
    url('font/OS-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}


/* ==============================
              RESETS
   ============================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input, textarea, select, button {
   -webkit-appearance: none;
   border-radius: 0;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  border:0;
  outline:0;
}

a:hover, a:visted {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

img.intro-image{
  width: 100%;
  height: auto;
}

/* ==============================
              GENERAL
   ============================== */

p {
  max-width: 100%;
}

.multi-button {
  display: block;
}

.main-button, .cta-btn {
  display: block;
  padding:20px 0;
  margin:40px auto;
}

.cta-btn{
  margin-top:20px;
}

.clearfix{
  content:" ";
  clear:both;
}

.multi-button {
  padding:20px 0;
  margin:30px auto 0;
}

.multi-button:nth-child(odd){
  margin:14px auto 30px;
}

.social-box {
  margin:100px auto;
  width:80%;
  max-width: 200px;
  overflow: hidden;
}

.social-icon{
  width:33.333%;
  float:left;
}

img.social-icon:hover {
  opacity: 0.6;
}

/* ==============================
              LAYOUT
   ============================== */
#container {
  min-height: 100%;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

#header{
  position: relative;
  padding: 36px 30px 25px;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.section{
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 600px;
  margin:0 auto;
  padding-bottom: 34px;
  margin-bottom: 50px;
}

.logo{
  float: left;
}

.banner{
  width:90px;
  height:37px;
  /*
  background-image: url("img/modest-industries-banner-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  */
}

#menu {
  position: absolute;
  top:50%;
  right: 30px;
  width: auto;
  max-width: 74%;
  margin-top: -6px;

  -o-transform: translateY(-50%); /* Opera */
  -ms-transform: translateY(-50%); /* IE 9 */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari */
  transform: translateY(-50%);

  display: none;
}

#menu li {
  display: inline-block;
  margin-left:10px;
  text-align: right;
  margin-bottom:4px;
}

.menu-btn {
  position: relative;
  float:right;
  text-align: center;
  cursor: pointer;
  margin-top:4px;
}

#menu-close-x{
  position: absolute;
  bottom:-15px;
  left:50%;
  margin-left:-10px;
  width: 8px;
  height:8px;
  padding:6px;

  display:none;
}

#menu-drop {
  display:none;
  overflow: hidden;
}

#menu-drop ul{
  display: block;
  margin: 20px 0;
}

#menu-drop li{
  display: block;
  margin: 10px 0;
}

.main{
  margin-top:20px;
}

p.intro-subtitle,
h1.intro-title {
  width: 90%;
  margin:0 auto;
}

img.intro-image{
  display: block;
  margin:10px auto;
}


/* Columns */

.col1, .col2 {
  position: relative;
  width:100%;
  overflow: hidden;
}

.content-box{
  height:260px;
  width: 100%;
}

.pencil {
  display: none;
}

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
}

.to-top img {
  width:30px;
  height:30px;
  margin:140px auto;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}


/* ==============================
             TYPOGRAPHY
   ============================== */
body, input, textarea{
  font-family: 'Georgia', Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
#menu, .menu-btn, #menu-drop li,
#form, button, .footer-copyright,
.main-button, .multi-button, .cta-btn {
  font-family:'OS-700', 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.footer-copyright {
  font-family:'OS-600', 'Open Sans', sans-serif;
  font-weight: 600;
}

button{
  font-size: 1.2em;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 24px;
}

h1.intro-title {
  margin-bottom: 4px;
}

h2 {
  letter-spacing: 1.3px;
  font-size: 0.8em;
  z-index: 10;
}

h2::after,
.footer-copyright::after{
  display: block;
  margin: 12px auto 24px;
  content:" ";
  width:30px;
  height:4px;
}

p, .main-button, .multi-button, .cta-btn {
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

p.intro-subtitle{
  text-align: center;
}

.alt-box p, .alt-box img,
p.col1, p.col2 {
  margin-bottom: 20px;
}

.menu-btn{
  font-size: 1em;
  letter-spacing: 0.8px;
}

#menu-drop li {
  text-align: center;
  font-size:0.8em;
}

#menu ul {
  text-align: right;
}

#menu li {
  font-size: 0.65em;
}

#menu li a:hover,
#menu-drop li a:hover {
  padding-bottom:1px;
}

.footer-copyright {
  max-width: 80%;
  font-size: 0.5em;
  margin:40px auto 60px;
}


input, textarea {
  font-size: 0.8em;
  line-height: 1.4;
  letter-spacing: 0.5;
}

/* ==============================
               COLOUR
   ============================== */
body{
  color: #707070;
}

#container{
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
a,
.menu-btn, #menu-drop li,
.footer-copyright, #form {
  color: #111111;
}

h2::after,
.footer-copyright::after{
  background-color:#EEE;
}

#menu li a:hover,
#menu-drop li a:hover {
  border-bottom:3px solid black;
}

#menu-drop {
  background-color: #FCFCFC;
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
}

.text, .contact, .studio {
  border-bottom:1px solid #EEE;
}

.text p a:hover {
  border-bottom:2px solid #111111;
}


.main-button, .multi-button, .cta-btn {
  border: 1px solid #eee;
  box-sizing:border-box;
}

.main-button:hover, .multi-button:hover, .cta-btn:hover{
  background-color: #f1f1f1;
  color:#111;
}

.broken {
  pointer-events:none;
  color:#ccc;
}


/* ==============================
             SECTIONS
   ============================== */

.product {
  border-bottom:none;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.product-box p {
  margin-bottom:20px;
}

.product-box a {
  display: block;
}

.product-box p a {
  display: inline;
}

.product-image {
  display: block;
  margin-bottom:40px;
}

.product .col2{
  margin-bottom: 10px;
}

.service h2,
.studio h2{
  padding-top: 40px;
}

.service h2:first-child,
.studio h2:first-child{
  padding-top: 0;
}

.product.hire .product-box {
  min-height: 500px;
}

.clients {
  margin-top:30px;
}

ul.client-logos li {
  float: left;
  text-align: center;
  width:33.33333333%;
}

/* Contact Form */

#form {
  max-width:500px;
  margin:0 auto;
}

#form p {
  text-align: center;
}

#form div {
  margin:40px 0;
}

#form input, textarea, button {
  width:100%;
  padding:10px 0;

  text-align: center;

  border: none;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

#form textarea {
  height:100px;
  max-width: 100%;
}

#form label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

#form button {
  cursor:pointer;
  border:0;
  background-color: #fff;
}

#form button:hover {
}

span.required {
  color:#dd6666;
  font-size: 0.5em;
}

#form label {
  font-size: 0.8em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.no-border {
  border:none;
}

/* ==============================
           CSS ANIMATION
   ============================== */

/*textarea {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  outline: none;
}

#form textarea:focus {
  background-color: black;
  color:white;
}*/



/* ==============================
          MEDIA QUERIES
   ============================== */

@media (min-width: 320px) {

}

@media (min-width: 420px) {

  /* Resize logo */
  .banner {
    width: 100px;
    height: 40px;
  }

  .footer-copyright {
    font-size: 0.6em;
  }

  .multi-button:nth-child(odd){
    margin:30px auto;
  }

  .btn2{
    width:48%;
    float: left;
  }

  .btn2:nth-child(odd){
    float: right;
  }

}

@media (min-width: 660px) {

  #header {
    padding: 50px 40px;
  }

  .text {
    max-width: 600px;
  }

  p.col1, p.col2 {
    margin-top:0;
  }

  .col2 {
    width: 48%;
    float: left;
  }

  .text .col2:nth-of-type(2){
    float: right;
  }

  /* Sections */

  .product .col2 {
    margin-bottom:60px;
  }

  .product-box{
    margin-bottom: 20px;
    min-height:600px;
  }

  .main-button{
    position: absolute;
    bottom:0;
    margin-bottom:0;
    left:0;right:0;
  }

  .btn2{
    position: absolute;
    bottom: 0;
    left:0;
  }

  .btn2:nth-child(odd){
    left:auto;
    right:0;
    margin-bottom:0;
  }

  .product-box:nth-of-type(even){
    float: right;
    clear:right;
  }

  .product-box:nth-of-type(odd){
    clear: both;
  }

  .product.latest-work .product-box {
    min-height: 480px;
    margin-bottom: 40px;
  }


  /* Resize logo */
  .banner {
    width:120px;
    height:48px;
  }

  .footer-copyright {
    max-width: 580px;
  }

  /* ALT-BOX (alternating box) for vertical alignment */

  .alt-box p{
    width: 48%;
    margin-bottom: 0;
  }

  .alt-box img{
    max-width: 48%;
    margin-bottom: 0;
  }

  .alt-box {
    position: relative;
    min-height: 300px;
  }

  .studio .alt-box{
    min-height: 240px;
  }

  .alt-box:nth-of-type(odd) img,
  .alt-box:nth-of-type(even) p
  {
    position: absolute;
    top:50%;
    left:0;

    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .alt-box:nth-of-type(even) img,
  .alt-box:nth-of-type(odd) p
  {
    position: absolute;
    top:50%;
    right:0;

    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

  }

  .clients {
    margin-top:0px;
  }

  ul.client-logos li {
    float: left;
    text-align: center;
    width:20%;
    width:calc(20% - 1px);
  }

}

@media (min-width: 720px) {
  body {
    font-size: 18px;
  }

  h1.intro-title {
    font-size: 1.8em;
    margin-bottom: 4px;
  }

  p.intro-subtitle{
    font-size: 0.9em;
  }

  .section{
    max-width: 700px;
  }

  .menu-btn{
    font-size: 0.8em;
    letter-spacing: 0.8px;
  }

  .product-box{
    min-height:630px;
  }


  /* ALT-BOX HEIGHTS */
  .alt-box {
    min-height: 350px;
  }

  .studio .alt-box{
    min-height: 280px;
  }

  .product.hire .product-box {
    min-height: 560px;
  }

  .product.people .product-box {
    /*min-height:650px;*/
  }

}

@media (min-width: 760px) {
  #menu {
    right: 40px;
  }
  /* Hide dropdown menu and show main menu */

  .menu-btn {
    display: none;
  }

  #menu {
    display: block;
    float: right;
  }

  .hide-drop-menu{
    display:none;
  }
}

@media (min-width: 980px) {

  #menu li {
    font-size: 0.67em;
    margin-left: 16px;
  }

}

@media (min-width: 1280px) {

}

@media (min-width: 1920px) {

}




/* CSS3 FADE IN TRANSITION */

.fadeIn {
  opacity:0;
  -webkit-transition: 0.6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-transition: 0.6s; /* Firefox < 16 */
  -ms-transition: 0.6s; /* Internet Explorer */
  -o-transition: 0.6s; /* Opera < 12.1 */
  transition: 0.6s;
}

.animation{
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
