@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic);

/* ==============================
              RESETS
   ============================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input, textarea, select, button {
   -webkit-appearance: none;
   border-radius: 0;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover, a:visted {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* ==============================
              GENERAL
   ============================== */

p {
  max-width: 100%;
}

.main-button {
  display: block;
  width: 98%;
}

/* ==============================
              LAYOUT
   ============================== */
.container {
  min-height: 100%;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

#header{
  position: relative;
  padding: 36px 30px;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section{
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 600px;
  margin:0 auto;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.logo{
  float: left;
}

.banner{
  width:90px;
  height:37px;
  /*
  background-image: url("img/modest-industries-banner-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  */
}

#menu {
  position: absolute;
  top:50%;
  right: 30px;
  width: auto;
  max-width: 74%; 
  margin-top: -6px;

  -o-transform: translateY(-50%); /* Opera */
  -ms-transform: translateY(-50%); /* IE 9 */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari */
  transform: translateY(-50%);

  display: none;
}

#menu li {
  display: inline-block;
  margin-left:10px;
  text-align: right;
  margin-bottom:4px; 
}

.menu-btn {
  position: relative;
  float:right;
  text-align: center;
  cursor: pointer;
  margin-top:4px;
}

#menu-close-x{
  position: absolute;
  bottom:-15px;
  left:50%;
  margin-left:-10px;
  width: 8px;
  height:8px;
  padding:6px;

  display:none;
}

#menu-drop {
  /*margin-bottom:36px;*/
  display:none;
  overflow: hidden;
}

#menu-drop ul{
  display: block;
  margin: 20px 0;
}

#menu-drop li{
  display: block;
  margin: 10px 0;
}

p.intro-subtitle,
h1.intro-title {
  width: 90%;
  margin:0 auto;
}

img.intro-image{
  display: block;
  margin:10px auto;
}

.text {

}

/* Columns */

.col1, .col2 {
  position: relative;
  width:100%;
  overflow: hidden;
}

.content-box{
  height:260px;
  width: 100%;
}

.pencil {
  display: none;
}

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
}

.to-top img {
  width:30px;
  height:30px;
  margin:80px auto 130px;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}


/* ==============================
             TYPOGRAPHY
   ============================== */
body, input, textarea{
  font-family: 'Georgia', Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
#menu, .menu-btn, #menu-drop li,
.footer-copyright, #form, button,
.main-button {
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.main-button {
  padding:20px 0;
  margin:30px auto;
  text-align: center;
}


button{
  font-size: 1.2em;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 24px;
}

h1.intro-title {
  margin-bottom: 4px;
}

h2 {
  letter-spacing: 1.3px;
  font-size: 0.8em;
}

h2::after,
.footer-copyright::after{
  display: block;
  margin: 12px auto 24px;
  content:" ";
  width:30px;
  height:2px;
}

p, .main-button {
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

p.intro-subtitle{
  text-align: center;
}

p.col1, p.col2 {
  margin-bottom: 20px;
}

.menu-btn{
  font-size: 1em;
  letter-spacing: 0.8px;
}

#menu-drop li {
  text-align: center;
  font-size:0.8em;
}

#menu ul {
  text-align: right;
}

#menu li {
  font-size: 0.65em;
}

#menu li a:hover,
#menu-drop li a:hover {
  padding-bottom:1px;
}

.footer-copyright {
  max-width: 80%;
  font-size: 0.5em;
  margin:40px auto 60px;
}


input, textarea {
  font-size: 0.8em;
  line-height: 1.4;
  letter-spacing: 0.5;
}

/* ==============================
               COLOUR
   ============================== */
body{
  color: #707070;
}

.container{
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
a,
.menu-btn, #menu-drop li,
.footer-copyright, #form {
  color: #111111;
}

h2::after,
.footer-copyright::after{
  background-color:#EEE;
}

#menu li a:hover,
#menu-drop li a:hover {
  border-bottom:3px solid black;
}

#menu-drop {
  background-color: #FCFCFC;
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
}

.section {
  border-bottom:1px solid #EEE;
}

.text p a:hover {
  border-bottom:2px solid #111111;
}


.main-button {
  border: 1px solid #eee;
}

.main-button:hover{
  background-color: #f1f1f1;
  color:#111;
}

.broken {
  pointer-events:none;
  color:#ccc;
}

/* ==============================
             SECTIONS
   ============================== */

/*.service {
  border-bottom:none;
  padding-bottom: 0;
  margin-bottom: 60px;
}*/


.product {
  border-bottom:none;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.product-image {
  display: block;
  margin-bottom:40px;
}

.product .col2{
  margin-bottom: 60px;
}

.service h2{
  padding-top: 40px;
}

.service h2:first-child{
  padding-top: 0;
}


/* Contact Form */

#form {
  max-width:500px;
  margin:0 auto;
}

#form p {
  text-align: center;
}

#form div {
  margin:40px 0;
}

#form input, textarea, button {
  width:100%;
  padding:10px 0;

  text-align: center;

  border: none;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

#form textarea {
  height:100px;
  max-width: 100%;
}

#form label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

#form button {
  cursor:pointer;
  border:0;
  background-color: #fff;
}

#form button:hover {
}

span.required {
  color:#dd6666;
  font-size: 0.5em;
}

#form label {
  font-size: 0.8em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}



/* ==============================
           CSS ANIMATION
   ============================== */

/*textarea {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  outline: none;
}
 
#form textarea:focus {
  background-color: black;
  color:white;
}*/



/* ==============================
          MEDIA QUERIES
   ============================== */

@media screen and (min-width: 320px) {
  
}

@media screen and (min-width: 420px) {

  /* Resize logo */
  .banner {
    width: 100px;
    height: 40px;
  }

  .footer-copyright {
    font-size: 0.6em;
  }

}

@media screen and (min-width: 660px) {

  #header {
    padding: 50px 40px;
  }

  .text {
    max-width: 600px;
  }

  .col2 {
    width: 48%;
    float: left;
  }

  .text .col2:last-child{
    float: right;
  }

  /* Sections */

  .product-box{
    margin-bottom: 20px;
    min-height:650px;
  }

  .product-box p {
    margin-bottom:90px;
  }

  .main-button{
    position: absolute;
    bottom:0;
    margin-bottom:0;
  }

  .product-box:nth-child(even){  
    float: right;
  }

  .product-box:nth-child(odd){  
    clear: both;
  }

  .col-image:nth-child(odd){
    float: right;
  }

  .col-text:nth-child(odd){
    float: right;
  }

  /* Resize logo */
  .banner {
    width:120px;
    height:48px;
  }

  .footer-copyright {
    max-width: 520px;
  }

}

@media screen and (min-width: 720px) {
  body {
    font-size: 18px;
  }

  h1.intro-title {
    font-size: 1.8em;
    margin-bottom: 4px;
  }

  p.intro-subtitle{
    font-size: 0.9em;
  }

  .section{
    max-width: 700px;
  }

  .menu-btn{
    font-size: 0.8em;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 760px) {
  #menu {
    right: 40px;
  }
  /* Hide dropdown menu and show main menu */

  .menu-btn {
    display: none;
  }

  #menu {
    display: block;
    float: right;
  }

  .hide-drop-menu{
    display:none;
  }
}

@media screen and (min-width: 980px) {

  #menu li {
    font-size: 0.67em;
    margin-left: 16px;
  }

}

@media screen and (min-width: 1280px) {
  
}

@media screen and (min-width: 1920px) {

}